body{
    padding: 0;
    margin: 0;
}



#section-1{
    background-color: aquamarine;
    height: 600px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
header{
    display: flex;
    justify-content: space-around;
    padding: 55px;
}
nav ul li{
    display: inline-block;
    padding: 10px 16px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li .active{
    border-radius: 5px;
    color:lawngreen
}
.main-heading{
    text-align: center;
    margin-top: 148px;
}
.main-heading h1{
    color: white;
    font-size: 42px;
    margin-bottom: 60px;
    font-weight: bolder;
}
.main-heading a{
    color: white;
    padding: 25px 85px;
    font-size: 18px;
    background-color: brown;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
}
#section-2{
    background-color: #17c2a4;
    min-height: 1000px;
    color: white;
}
.tittle-box{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}
.tittle-box h2{
    margin-top: 0;
    margin-bottom:10px ;
    padding-top: 100px;
    font-size: 40px;
    border-radius: 5px;
    text-transform: uppercase;
}
.services-box{
    display: flex;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}
.services{
    width: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.services h3{
  margin-top: 60px;
    font-size: 24px;
    font-weight:bold;
    text-transform: uppercase;
}
.services p{
    font-size: 16px;
}
#section-3{
    background-color: #3c5499;
    min-height: 800px;
    color: white;
}
#contact-form{
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;

}
.form-row{
    display: flex;

}
input[type="text"],input[type="email"]{
    width: 46%;
    height: 56px;
}
input[type="text"],input[type="email"], textarea{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: #273a71;
    font-size: 18px;
    margin: 16px;
    border-radius: 5px;
    padding-left: 20px;
    border: none;

}
textarea{
    width: 200px;
    height: 100%;
    padding-top: 24px;
}
input[type="submit"]{
    color: white;
    background-color: #30bae7;
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    border-radius: 5px;
    border: none;

}
.big-button{
padding: 25px 85px;
color: white;
}
footer{
   background-color: #344b8e;
}
.footer-links{
    max-width: 945px;
    margin-left: auto;
    margin-right: auto;
}
footer ul{
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
}
.footer-links ul li{
    display: inline-block;
    padding: 10px 20px 10px 20px;

}
.footer-links ul li a{
  text-decoration: none;
  color: white;
  font-size: 24px;
}
