body{
    margin: 0px;
}
*{
    box-sizing: border-box;
}
#horizontal-menu{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: darkgreen;
}
#horizontal-menu li{
    float: left;
}
#horizontal-menu li a{
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
}
#horizontal-menu li a:hover:not(.active){
    background-color: blue;
}
.active{
    background-color: grey;
}
.navbar{
    overflow: hidden;
    background-color:darkgrey;
    font-family: 'Times New Roman', Times, serif;
}
.navbar a{
    float: left;
    font-size: 15px;
    color: brown;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}
.dropdown{
    overflow: hidden;
    font: left;
}
.dropdown .dropbtn{
    font-size: 15px;
    border: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0px;
}

.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: green;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: beige;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgb(34, 234, 243);
    z-index: 0;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.column{
    float: left;
    width:33.33%;
    padding: 10px;
    background-color: bisque;
    height: 250px;
}
.column a{
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 16px;
}
.column a:hover{
    background-color: aliceblue;
}
.row::after{
    content: "";
    display: table;
    clear:both;
}

 