body{
    margin: 0px;
}
*{
    box-sizing: border-box;
}
#horizontal-menu{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: darkgreen;
}
#horizontal-menu li{
    float: left;
}
#horizontal-menu li a{
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
}
#horizontal-menu li a:hover:not(.active){
    background-color: blue;
}
.active{
    background-color: grey;
}
.navbar{
    overflow: hidden;
    background-color:darkgrey;
    font-family: 'Times New Roman', Times, serif;
}
.navbar a{
    float: left;
    font-size: 15px;
    color: brown;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}
.dropdown{
    overflow: hidden;
    float: left;
}
.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: azure;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0px;
}
.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: gray;
}
.drop-content{
    display: none;
    position: absolute;
    background-color: bisque;
    width: 100%;
    left: 0;
    box-shadow: 0px 12px 16px 0px;
    z-index: 1;
}
.dropdown:hover .dropdown-content{
    display: block;
}


#vertical-menu{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    background-color: rgb(27, 14, 138);
    width: 25%;
    position: fixed;
    height: 100%;
}
#vertical-menu li a{
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    display: block;
}
:vertical-menu li .active{
    background-color: rgb(148, 11, 11);
}
#vertical-menu li a:hover:not(.active){
    background-color: rgba(99, 83, 12, 0.582);
}
