#static{
    position: static;
    border: 3px solid red;
    width: 75px;
    height: 75px;
    padding: 500px;

}
#relative{
    position: relative;
    border: 3px solid red;
    width: 75px;
    height: 75px;
    padding: 500px;
    left: 500px;
    top: 50px; ;
}
#fixed{
    position: fixed;
    border: 3px solid red;
    width: 75px;
    height: 75px;
    padding: 500px;
    left: 2000px;
    top: 800px; 
}
#fixed1{
    position: fixed;
    top: 600px;
    left: 2000px;
    margin-top: 100px;
   
}
    
#parent{
    position: absolute;
    border: 3px solid red;
    width: 350px;
    height: 350px;
}
#absolute{
    position: relative;
    border: 3px solid red;
    width: 255px;
    height: 255px;
    top: 5px;
    left: 55px;
    background-color: blue;
    color: white;
}


#sticky{
    position: sticky;
    top: 0px;
   background-color: royalblue;
   color: #b5cc96;
   padding: 20px;
}