

body{
    background-color: rgb(255, 255, 255);
}
h1{
    color: yellow;
}

div{
    
  width: 300px;
  border: 8px solid black;
  padding: 25px;
  margin: 25px;
  background-color: lightblue;
}
#sdiqka{
    color: red;
    font-size: 100px;
    border-style: dotted;
    border-color: rgb(116, 10, 10);
    border-width: 10px;
}
