@media(min-width:500px){
    body{
        background-color:blue;
        color: white;
        font-size: large;
    }
}
@media(min-width:500px){
    body{
        background-color:red;
        color: black;
    }
}