@media(min-width:500px){
    body{
        background-color:blue;
        color: white;
        font-size: large;
    }
}
@media(min-width:500px){
    body{
        background-color:red;
        color: black;
    }
}
@media (min-width:600px) and (max-width:900px){
    img{
        display: none;
    }
}
@media(max-width:600px){
    p{
        column-count:2;
    }
}
    
