body{
    background-image: url("foto/ft.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

}
h1{
    color: red;
    letter-spacing: 10px;
    word-spacing: 15px;
    margin-left: 15px;
}
p{
text-indent: 45px;
text-align: center;
}
h2{
    text-decoration: overline;
    text-shadow: 2px 2px 5px blue;
}
h3{
    text-decoration: line-through;
}
h4{
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.overline{
    color: brown;
}
#okej{
    color: #1f6132;
}